<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  
  <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico">
  <link rel="stylesheet" href="/public/bootstrap.min.css">
  <script src="/public/bootstrap.bundle.min.js"></script>
  <title>Gemini Chatbot</title>
  
  <link rel="stylesheet" href="/public/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/public/home.css">
  <script src="/public/home.js" def></script>
</head>
<body>
  <div class="container">
    
    <h1 class="title text-center mt-5">
      
      Gemini Chatbot
      
      <!--<span class="blink">-->
      <!--</span>-->
      
    </h1>
    
    <div class="chat-container mt-5">
      
      
      
    </div>
    
    <div class="input-container">
      
      <div class="input-group">
        
        <input type="text" name="" id="">
        <button class="btn btn-primary">
          <i class="bi bi-send-arrow-up"></i>
          <i class="bi bi-send-arrow-down"></i>
          <i class="bi bi-send-check"></i>
          <i class="bi bi-send-dash"></i>
          <i class="bi bi-send-exclamation"></i>
          <i class="bi bi-send-plus"></i>
          <i class="bi bi-send-slash"></i>
          <i class="bi bi-send-x"></i>
          <i class="bi bi-send"></i>
        </button>
        
        
      </div>
      
    </div>
    
  </div>
  
</body>
</html>